---
import Layout from "../layouts/Layout.astro";
import mailIcon from "../icons/send-mail.svg?raw";
import cnIcon from "../icons/cassette-nest.svg?raw";
import stacksIcon from "../icons/stacks.svg?raw";
import listsOfBooksIcon from "../icons/listsofbooks.svg?raw";
import houseIcon from "../icons/house.svg?raw";
---

<Layout title="Piepworks LLC / Makers of fine software products">
  <div class="text-center">
    <div class="flex justify-center">
			<Fragment set:html={houseIcon} />
    </div>

    <h1
      class="flex justify-center items-end gap-3 text-4xl font-bold tracking-tight text-emerald-200 sm:text-5xl lg:text-6xl"
    >
      Piepworks <span class="self-end text-3xl text-emerald-600">LLC</span>
    </h1>
    <p class="opacity-50 hover:opacity-100 mt-2">(pronounced “PEEP-works”)</p>
    <p class="mx-auto mt-5 max-w-xl text-xl text-emerald-200">
      Makers of fine software products
    </p>
    <p class="mx-auto mt-1 max-w-xl text-xl text-emerald-200">
      Based in Vermont, USA
    </p>
  </div>

  <main class="mt-10 text-2xl text-center space-y-8">
    <p class="text-center">
      <a
        href="mailto:homepage@piepworks.com"
        class="text-emerald-500 hover:text-emerald-200 h-16 w-16 inline-block"
      >
        <Fragment set:html={mailIcon} />
      </a>
    </p>

    <div class="place-content-center">
      <ul
        class="logos inline-flex space-around space-x-5 p-6 rounded-3xl shadow-inner"
      >
        <li>
          <a
            href="https://bookstacks.app"
            target="_blank"
            class="inline-block h-32 w-32"
          >
            <Fragment set:html={stacksIcon} />
          </a>
        </li>
        <li>
          <a
            href="https://cassettenest.com"
            target="_blank"
            class="inline-block h-32 w-32"
          >
            <Fragment set:html={cnIcon} />
          </a>
        </li>
        <li>
          <a
            href="https://listsofbooks.com"
            target="_blank"
            class="inline-block h-32 w-32"
          >
            <Fragment set:html={listsOfBooksIcon} />
          </a>
        </li>
      </ul>
    </div>
  </main>
</Layout>
