---
import Layout from "../layouts/Layout.astro";
import mailIcon from "../icons/send-mail.svg?raw";
import cnIcon from "../icons/cassette-nest.svg?raw";
import stacksIcon from "../icons/stacks.svg?raw";
import listsOfBooksIcon from "../icons/listsofbooks.svg?raw";
import lifeBuoyIcon from "../icons/life-buoy.svg?raw";
---

<Layout>
  <nav class="flex px-5 -mt-10 sm:mt-0 mb-10 sm:mb-0">
    <a href="/help" class="flex justify-start gap-1">
      <Fragment set:html={lifeBuoyIcon} />
      <span>Help</span>
    </a>
  </nav>

  <div class="text-center">
    <div class="my-10 sm:mb-20">
      <h1 class="flex justify-center items-end gap-3 text-4xl font-bold tracking-tight text-emerald-200 sm:text-5xl lg:text-6xl">
        Piepworks <span class="self-end pb-1 text-3xl text-emerald-600">LLC</span>
      </h1>
      <p class="text-emerald-500 hover:text-emerald-200 mt-2">(pronounced “PEEP-works”)</p>
    </div>

    <p class="mx-auto mt-5 max-w-xl text-xl text-emerald-200">
      <a href="https://treypiepmeier.com">Trey</a>
      <span class="amp text-emerald-600">&</span>
      <a href="https://oliviapiepmeier.com">Olivia</a>
    </p>

    <div class="text-xl">
      <p class="mx-auto mt-5 max-w-xl text-emerald-200">Future-proof web applications and websites for real people</p>
      <p class="mx-auto mt-1 max-w-xl text-emerald-200">Based in <a href="https://en.wikipedia.org/wiki/Orange_County,_Vermont">the “Upper Valley” of Vermont</a></p>
    </div>
  </div>

  <main class="mt-10 text-2xl text-center space-y-8">
    <p class="text-center">
      <a
        href="mailto:homepage@piepworks.com"
        class="text-emerald-500 hover:text-emerald-200 h-16 w-16 inline-block"
        title="Send us an email!"
      >
        <Fragment set:html={mailIcon} />
      </a>
    </p>

    <div class="place-content-center">
      <ul
        class="logos flex-col sm:flex-row inline-flex p-6 gap-8 rounded-3xl shadow-inner"
      >
        <li>
          <a
            href="https://bookstacks.app"
            title="Book Stacks"
            class="hover:bg-emerald-950"
            target="_blank"
          >
            <Fragment set:html={stacksIcon} />
          </a>
        </li>
        <li>
          <a
            href="https://cassettenest.com"
            title="Cassette Nest"
            class="hover:bg-emerald-950"
            target="_blank"
          >
            <Fragment set:html={cnIcon} />
          </a>
        </li>
        <li>
          <a
            href="https://listsofbooks.com"
            title="Lists of Books"
            class="hover:bg-emerald-600"
            target="_blank"
          >
            <Fragment set:html={listsOfBooksIcon} />
          </a>
        </li>
      </ul>
    </div>
  </main>
</Layout>
